body{
    background: #f7f7f7;
    font-family: Verdana;
    max-width: 900px; /*Limitou a largura de todo o site até 900px, trazendo responsidade*/
    margin: auto;  /*Fez um alinhamento automático horizontal*/
}

.title_imagem{

    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px  solid #505050 ;
}

#title, .subtitle, .post_title{
    color:#505050;
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

a{
    text-decoration: line-through;
    color:#505050;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post_imagem{
    margin-bottom: 15px;
    width: 100%;  /* A imagem irá respeitar os limites de onde ela estiver dentro */
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.contacts_list{
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
}


